<div class="jumbotron">

  <h1 class="display-4"><%= @student.name %></h1>
  <p class="lead">Phone Number : <%= @student.phone_number %>&nbsp;&nbsp;|&nbsp;&nbsp;Instrument : <%= @student.instrument %></p>
  <hr class="my-4">
  <p>
    <%= link_to "#{@student.name}'s Scheduled Lessons", student_lessons_path(@student) %><br><br>
    <%= link_to "Schedule a lesson for #{@student.name}", new_student_lesson_path(@student) %><br><br>
  </p>

  <p><%= link_to 'Edit Account', edit_student_path(@student), class:"btn btn-secondary" %>
    <%= form_tag(student_path(@student), method: :delete) do %>
        <%= submit_tag "Delete Account", class:"btn btn-secondary" %>
    <% end %>
  </p>
</div>