<h1><%= @student.name %></h1>
<h3><%= @student.phone_number %></h3>
<h3><%= @student.instrument %></h3><br>
<%= link_to "#{@student.name}'s Scheduled Lessons", student_lessons_path(@student) %>

<p><%= link_to 'Edit Account', edit_student_path(@student) %>
    
<%= form_tag(student_path(@student), method: :delete) do %>
    <%= submit_tag "Delete Account" %>
<% end %>
</p>


