<h1>Lessons!</h1>
<button><%= link_to 'Set up a lesson', new_lesson_path %></button><br><br>
<%= form_tag(lessons_path, method: 'get') do %>
    <label for="filter_by_time">Filter By Time : </label>
    <select name="filter_by_time">
        <option <%= 'selected' if params[:filter_by_time] == '' %> value="">All</option>
        <option <%= 'selected' if params[:filter_by_time] == 'Past' %> value="past">Past</option>
        <option <%= 'selected' if params[:filter_by_time] == 'Upcoming' %> value="upcoming">Upcoming</option>
    </select>
    <label for="sort">Sort by : </label>
    <select name="sort">
        <option <%= 'selected' if params[:sort] == '' %> value="">None</option>
        <option <%= 'selected' if params[:sort] == 'Most Recent' %> value="most_recent">Most Recent</option>
        <option <%= 'selected' if params[:sort] == 'Oldest' %> value="longest_ago">Oldest</option>
    </select>&nbsp
    <%= submit_tag 'Submit' %>
<% end %>

<% @lessons.each do |lesson| %>
    <p>
        <%= link_to lesson.student_name, student_path(lesson.student) %> - <%= link_to lesson.start_time.strftime('%A, %d %b %Y %l:%M %p'), lesson_path(lesson) %> with <%= link_to lesson.teacher_name, teacher_path(lesson.teacher) %>
    </p>
<% end %>