<h1>New Teacher</h1>
<%= show_errors_for(@teacher) %>
<%= form_for @teacher do |f| %>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p><br>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>
    <p><br>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </p><br>
        <%= f.label :instrument %>
        <%= f.text_field :instrument %>
    <p><br>
        <%= f.submit %>
    </p>  <br> 
<% end %>